.app-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.graph-container {
  min-width: 400px;
  width: calc(100vw - 300px); }

.text-container {
  width: 100%;
  max-height: 238px;
  overflow-y: scroll; }
  .text-container table {
    width: 100%; }
    .text-container table .text-vis-cell {
      width: 30%; }
    .text-container table .text-vis-cell_small {
      width: 10%; }

.user-input {
  width: 250px; }
