.app-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: Helvetica, Arial, sans-serif; }
  .app-container .graph-container {
    min-width: 400px;
    width: calc(100vw - 300px); }
  .app-container .text-container {
    max-height: calc(100vh - 420px);
    overflow-y: scroll;
    width: 100%; }
    .app-container .text-container table {
      border-collapse: collapse;
      width: 100%; }
      .app-container .text-container table th {
        font-weight: normal;
        border-bottom: 2px solid #000;
        border-top: 2px solid #000; }
      .app-container .text-container table .text-vis-cell {
        padding: 10px;
        text-align: left;
        width: 30%; }
      .app-container .text-container table .text-vis-cell-small {
        text-align: right;
        padding-right: 5px;
        width: 10%; }
      .app-container .text-container table .table-entry {
        margin: 5px 0; }
      .app-container .text-container table .table-entry-cell {
        border-bottom: 1px solid #ccc; }
      .app-container .text-container table hr {
        border-top: 1px solid #ccc; }
  .app-container .user-input {
    width: 250px; }
    .app-container .user-input a {
      font-size: 90%; }
      .app-container .user-input a, .app-container .user-input a:visited {
        color: #337ab7;
        text-decoration: none; }
      .app-container .user-input a:focus, .app-container .user-input a:hover {
        color: #23527c;
        text-decoration: underline; }
    .app-container .user-input .text-input-container {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-align: left; }
      .app-container .user-input .text-input-container .input-label {
        font-weight: 700;
        margin: 5px; }
      .app-container .user-input .text-input-container .text-input {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
        float: right;
        font-size: 12px;
        height: 25px;
        line-height: 1.5;
        margin: 5px;
        padding: 5px 10px;
        width: 40%; }
    .app-container .user-input .button-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .app-container .user-input .button-container button {
        border: 1px solid transparent;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.4;
        margin: 5px;
        padding: 6px 12px;
        text-align: center;
        -ms-touch-action: manipulation;
            touch-action: manipulation;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        width: 98px; }
