$link-color-active: #23527c;
$link-color: #337ab7;
$gray-color: #ccc;
$white-color: #fff;
$black-color: #000;
$invalid-color: #FF0000;
.app-container {
  display: flex;
  flex-wrap: wrap;
  font-family: Helvetica, Arial, sans-serif;

  .graph-container {
    min-width: 400px;
    width: calc(100vw - 300px);

    @media (max-width: 690px) {
      width: 100%;
    }
  }

  .text-container {
    max-height: calc(100vh - 420px);
    overflow-y: scroll;
    width: 100%;

    table {
      border-collapse: collapse;
      width: 100%;

      th {
        border-bottom: 2px solid $black-color;
        border-top: 2px solid $black-color;
        font-weight: normal;
      }

      .hover-gray {
        &:hover {
          background-color: $gray-color;
        }
      }

      .text-vis-cell {
        padding: 10px;
        text-align: left;
        width: 30%;
      }

      .text-vis-cell-small {
        padding-right: 5px;
        text-align: right;
        width: 10%;
      }

      .table-entry {
        margin: 5px 0;
      }

      .table-entry-cell {
        border-bottom: 1px solid $gray-color;
      }

      hr {
        border-top: 1px solid $gray-color;
      }
    }
  }

  .user-input {
    width: 250px;

    .input-invalid {
      outline-color: $invalid-color;
      outline-style: solid;
    }

    a {
      font-size: 90%;

      &,
      &:visited {
        color: $link-color;
        text-decoration: none;
      }

      &:focus,
      &:hover {
        color: $link-color-active;
        text-decoration: underline;
      }
    }

    .text-input-container {
      align-items: center;
      display: flex;
      text-align: left;

      .input-label {
        font-weight: 700;
        margin: 5px;
      }

      .text-input {
        background-color: $white-color;
        border: 1px solid $gray-color;
        border-radius: 3px;
        float: right;
        font-size: 12px;
        height: 25px;
        line-height: 1.5;
        margin: 5px;
        padding: 5px 10px;
        width: 40%;
      }
    }

    .button-container {
      display: flex;

      button {
        border: 1px solid transparent;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.4;
        margin: 5px;
        padding: 6px 12px;
        text-align: center;
        touch-action: manipulation;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        width: 98px;
      }
    }
  }
}
